---
import { getCollection, render } from 'astro:content';
import '@/styles/sneaky.css';
import { SITE } from '@/config';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{entry.data.title}</title>
    <meta name="description" content={entry.data.description} />
    <meta name="author" content={entry.data.author} />
  </head>
  <body>
    <main>
      <article>
        <header>
          <h1>{entry.data.title}</h1>
          <time datetime={entry.data.date.toISOString()}>
            {entry.data.date.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
          {entry.data.tags && (
            <div class="tags-classic">
              {entry.data.tags.map(tag => (
                <a href="#" class="tag">{tag}</a>
              ))}
            </div>
          )}
        </header>
        <Content />
      </article>
    </main>
  </body>
</html>