---
export interface Props {
  title: string;
  date: Date;
  level?: 1 | 2 | 3 | 4 | 5 | 6;
  titleLink?: string;
}

const {
  title,
  date,
  level = 1,
  titleLink
} = Astro.props;

const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const HeadingTag = `h${level}` as keyof HTMLElementTagNameMap;
---

<header>
  <HeadingTag>
    {titleLink ? <a href={titleLink}>{title}</a> : title}
  </HeadingTag>

  <time datetime={date.toISOString()}>
    {formattedDate}
  </time>
  <meta itemprop="author" content="SneakyFoxy" />
</header>
